.footer
  //- If you are readling this file, probably you have forked my repo and trying to apply your own
  //- customizations. Although this project is licensed under the MIT license and is free to modify
  //- and redistribute, please consider supporting me at https://github.com/sponsors/icelam
  //- or https://ko-fi.com/icelam. This will help me to create more high quality contents and
  //- keep my server up and running.
  //-
  //- Github sponsors: https://github.com/sponsors/icelam
  //- Ko-fi: https://ko-fi.com/icelam
  div
    a(href="https://msiek.com" target="_blank") Mateusz Siek #{new Date().getFullYear()}
    span ・
    a(href="https://github.com/MateuszSiek/random-picker.msiek.com.git" target="_blank") Github
  div 
    span Credits: 
    a(href="https://github.com/icelam/random-name-picker" target="_blank") random-name-picker
